html, body, .container-fluid, .map, .row {
	height: 100%;
}

#map {
	height: 100%;
}

.search-area {
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-responsive {
	white-space: normal;
	width: 100%
}

.img-flickr{
	padding: 2px;
}
/**
.border-div-test {
	border: 1px solid red;
}
**/
